body {
    font-family: Cuprum;
    background-color: #fdfdfd;
    color: #999;
    font-weight: 100;
    font-size: 15pt;
    text-align: center;
    margin-top: 200px;
}

a.totalport {
    padding: 10px 40px;
    border-radius: 4px;
    background-color: rgba(219, 56, 83, 1);
    letter-spacing: 2px;
    transition: all .3s ease;
    color: white;
    font-size: 9pt;
    text-decoration: none;
    position: relative;
    top: 0;
    cursor: pointer;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
}

a.totalport:hover {
    position: relative;
    top: -5px;
    cursor: pointer;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
}

a.totalport:active {
    position: relative;
    top: 5px;
    cursor: pointer;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
}

@media only screen and (min-width:320px) and (max-width:680px) {
    a.totalport {
        display: block;
        margin-top: -19px;
    }
    .spacer {
        top: 20px;
        position: relative;
    }
    body {
        margin-top: 100px;
    }
}