/*HEADER.CSS*/

.fixbox {
    height: 40px;
    line-height: 40px;
    width: 100%;
    background-color: white;
    font-size: 22pt;
    letter-spacing: 3px;
    text-align: center;
    /*    background-color: #172435;*/
    color: rgba(219, 56, 83, 1);
    /*    border-bottom:4px solid rgba(248, 182, 70, 1);*/
    background: url(/images/998435098.gif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white !important;
    z-index: 999;
    display: none;
}

.fixbox h1 {
    font-weight: lighter;
}

.heighter {
    min-height: 100% !important;
    height: 100%;
    position:relative;
    z-index: 1;
}

.colorguide {
    color: rgba(85, 71, 106, 1);
    color: rgba(74, 61, 99, 1);
    color: rgba(219, 56, 83, 1);
    color: rgba(244, 92, 68, 1);
    color: rgba(248, 182, 70, 1);
}