.separator {
    width: 100%;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #dddddd;
    height: 0;
}

body {
    font-size: 9pt;
    padding-bottom: 100px;
    background-color: #fafafa;
}

.device-preview {
    margin: 20px auto auto;
    background: url(http://www.jonathanbelok.com/assets/images/sprite.png) no-repeat;
    background-size: 100%
}

div.preview-ios .device-preview {
    width: 467px;
    height: 800px
}

a{
    cursor:pointer;
}