.aboutjon h1,
.aboutjon h2,
.aboutjon h3,
h3.last,
h3.sec {
    text-transform: uppercase
}

.rtop,
.rtop h3,
div.howitworks,
td.text {
    text-align: center
}

body,
html {
    font-family: Roboto, sans-serif
}

img.bikeimg {
    width: 50%;
    margin-left: 42%;
    margin-top: 20%
}

img.fire {
    width: 100%
}

.hoye {
    background-color: #eaeaea;
    height: auto;
    z-index: 9999999!important;
    position: relative;
}

.heaginsect {
    height: 600px;
    background: url(zxpc-pho/bg324.jpeg);
    background-size: 100% 100%;
    width: 100%;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
}

.heaginsect:hover {
    background-size: 101% 101%;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
}

div.locationtop {
    color: #fff;
    position: relative;
    z-index: 9999;
    float: right;
    right: 22px;
    margin-top: -55px;
    padding-bottom: 2px;
    border-bottom: 2px solid rgba(255, 255, 255, .56)
}

a.about,
a.portfolio {
    padding: 10px 35px;
    display: inline-block;
    top: 15px;
    cursor: pointer;
    position: relative
}

.specs {
    background-color: red;
    height: 100px;
    color: black;
}

.rtop {
    background-color: rgba(255, 255, 255, 0);
    height: auto;
    /*    z-index: 9;*/
    top: 220px;
    z-index: 1;
    width: 100%;
    position: fixed;
}

.rtop h3 {
    font-size: 30pt;
    font-weight: lighter;
    font-weight: 100;
    letter-spacing: 2px;
}

.rtop h5 {
    font-size: 16pt;
    font-weight: 100;
    letter-spacing: 8px;
    margin-top: 5px;
    /*    font-family:cousine;*/
    color: rgba(255, 255, 255, 0.55);
    font-weight: 100;
}

.topint {
    height: 600px;
    background: /*            linear-gradient(rgba(51, 51, 51, 0.71), rgba(51, 51, 51, 0.71)),*/
    /*            linear-gradient(rgba(51, 51, 51, 0.31), rgba(51, 51, 51, 0.31)),*/
    /*        url(http://i.imgur.com/pRTiIeG.gif);*/
    /*    url(zxpc-pho/topinf.gif);*/
    url(img/345345.gif) fixed;
    /*    url(http://www.chloeaftel.com/images/pics/582_sprint_city_0185_210_motion_mode_v2gif.gif);*/
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

a.about,
a.portfolio,
div.howitworks {
    letter-spacing: 2px
}

a.portfolio {
    border: 1px solid #1c8bfa;
    color: #FFF;
    background-color: #057ef7;
    border-radius: 25px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease
}

a.portfolio:hover {
    background-color: #1e8eff;
    border-color: #fff;
    transition: all .3s ease;
    -webkit-transition: all .3s ease
}

a.portfolio:active {
    background-color: #1173d6;
    border-color: #fff;
    transition: all .3s ease;
    -webkit-transition: all .3s ease
}

a.about {
    border: 1px solid #30d9c6;
    background-color: #30d9c6;
    color: #fff;
    border-radius: 25px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease
}

a.about:hover {
    background-color: #50d9ca;
    border-color: #fff;
    transition: all .3s ease;
    -webkit-transition: all .3s ease
}

a.about:active {
    background-color: #3fb9ab;
    transition: all .3s ease;
    -webkit-transition: all .3s ease
}

.aboutjon {
    width: 100%;
    height: auto;
}

.aboutjon h1 {
    color: #30d9c6;
    font-size: 120pt
}

.aboutjon h2 {
    font-size: 50pt;
    color: #057ef7
}

.aboutjon h3 {
    color: #ff406d;
    font-size: 23pt
}

h3.sec {
    color: #da40ff;
    font-size: 16pt
}

h3.last {
    color: #40a7ff;
    font-size: 25pt
}

.spacebox {
    height: 100px
}

.bsftc {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch
}

.menu {
    width: 100%;
    height: 45px;
    border-bottom: 1px solid #333;
    background: url(img/logos/dyane.regular-no-n.png) center center no-repeat, center center no-repeat #fff;
    background-size: 185px
}

.fixbox,
a.totalport {
    background-color: transparent
}

a.totalport {
    margin-top: -110px;
}

.fixbox {
    height: 0;
    width: 100%;
    z-index: 999
}

a.totalport {
    padding: 15px 50px;
    color: #fff;
    background-color: #3eb489;
    border: 2px solid #3eb489;
    text-decoration: none;
    cursor: pointer;
    border-radius: 7px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    top: 40px;
    position: relative
}

a.totalport:hover {
    background-color: #ff5656;
    border-color: #ff5656;
    top: 35px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease
}

a.totalport:active {
    top: 50px
}

div.howitworks {
    background: url(img/works2.jpeg) fixed;
    background-size: 100% 100%;
    height: auto;
    width: 100%;
    color: #fff;
    font-size: 20pt;
    padding-top: 205px;
    padding-bottom: 305px;
    display: block;
    letter-spacing: 4px;
    font-weight: 700
}

a.startit {
    color: #fff;
    background-color: #3eb489;
    border-color: #3eb489;
    padding: 14px 35px;
    border-radius: 35px;
    margin-top: 20px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    font-weight: 300;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease
}

a.startit:hover {
    background-color: #199064;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease
}

a.startit:active {
    position: relative;
    top: 8px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease
}

div.footer {
    height: 800px;
    background: /*        linear-gradient(rgba(51, 51, 51, 0.71), rgba(51, 51, 51, 0.71)),*/
    url(img/345345.gif) fixed;
    background-size: 100% 100%;
    border-radius: 0;
    margin-top: -40px;
    z-index: 999999;
    font-weight: 100;
    padding-top: 250px;
}

.messg {
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 20pt;
}

input.contact,
textarea.contact {
    background-color: transparent;
    font-weight: 100;
    margin-top: 10px;
    letter-spacing: 2px;
    text-transform: lowercase;
    display: block;
    color: #333;
    outline: 0;
    font-size: 11pt;
    width: 80%
}

input.contact {
    border: 2px solid #eaeaea;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease
}

input.contact:focus {
    color: #333;
    border-color: #333;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease
}

textarea.contact {
    border: 2px solid #eaeaea;
    resize: none;
    height: 200px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease
}

textarea.contact:focus {
    color: #333;
    border-color: #333;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease
}

.appshowcase {
    background: #FFF;
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    margin-top: 55px;
    color: #333;
}

input.contactbutton {
    margin-top: 20px;
    width: 80%;
    outline: 0;
    border: 2px solid #eaeaea;
    box-shadow: none;
    color: #bababa;
    letter-spacing: 6px;
    font-size: 11pt;
    position: relative;
    height: 50px;
    line-height: 40px;
    margin-left: 1px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease
}

input.contactbutton:hover {
    color: #FFF;
    background-color: #333;
    border-color: #333;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease
}

input.contactbutton:active {
    top: 10px;
    position: relative
}

.ctbox {
    background-color: rgba(255, 255, 255, 0.96);
    border-radius: 5px;
    height: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    width: 90%: color: #333
}

.ctbox h2 {
    font-size: 16pt;
    letter-spacing: 3px;
    font-weight: 200;
    color: #333
}

.device-preview {
    margin: 20px auto auto;
    background: url(zxpc-pho/sprite.png) no-repeat;
    background-size: 100%
}

div.preview-ios .device-preview {
    width: 467px;
    height: 800px
}

h1,
h2,
h3,
h4,
h5 {
    color: #fff
}

input-placeholder {
    color: rgba(216, 216, 216, 0.4)!important
}

::-webkit-input-placeholder {
    color: rgba(216, 216, 216, 0.4)!important
}

:-ms-input-placeholder {
    color: rgba(216, 216, 216, 0.4)!important
}

::-moz-placeholder {
    color: rgba(216, 216, 216, 0.4)!important
}

a.menutoplink {
    color: red;
    line-height: 45px;
    padding: 10px 75px;
    text-decoration: none;
    z-index: 999999;
}

a.crumyumlink {
    color: #3e82b4;
    padding-bottom: 1px;
    border-bottom: 1px solid transparent;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
}

a.crumyumlink:hover {
    border-bottom: 1px solid #3e82b4;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
}

a.ttc0 {
    color: #FFF;
    /*        border:3px solid rgba(48, 48, 48, 0.67);*/
    background-color: rgba(255, 218, 185, 0.62);
    background-color: rgba(67, 67, 67, 0.52);
    padding: 16px 55px;
    border-radius: 4px;
    position: relative;
    top: 40px;
    font-family: Cousine;
    font-weight: 100;
    letter-spacing: 3px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
}

a.ttc1 {
    color: #FFF;
    /*        border:3px solid rgba(48, 48, 48, 0.67);*/
    background-color: rgba(255, 218, 185, 0.62);
    background-color: rgba(88, 88, 88, 0.62);
    padding: 16px 55px;
    border-radius: 4px;
    position: relative;
    top: 40px;
    font-family: Cousine;
    font-weight: 100;
    letter-spacing: 3px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
}

a.ttc2 {
    color: #FFF;
    /*        border:3px solid rgba(48, 48, 48, 0.67);*/
    background-color: rgba(255, 255, 255, 0.09);
    padding: 15px 55px;
    border-radius: 4px;
    position: relative;
    top: 40px;
    font-family: Cousine;
    font-weight: 100;
    letter-spacing: 3px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
}

a.ttc0:hover,
a.ttc1:hover,
a.ttc2:hover {
    position: relative;
    top: 35px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    border-radius: 0;
    border-bottom-color: #b4673e;
}

a.ttc0:active,
a.ttc1:active,
a.ttc2:active {
    position: relative;
    top: 50px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    border-bottom-color: transparent;
}

a.crumyum {
    color: #ff406d;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
}

a.crumyum:hover {
    text-decoration: underline;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
}

input.toptwo {
    background-color: rgba(255, 255, 255, 0.23);
    background-color: rgba(93, 93, 93, 0.23);
    height: 35px;
    line-height: 40px;
    letter-spacing: 2px;
    width: 400px;
    font-family: Cousine;
    font-size: 10pt;
    margin-top: 10px;
    color: #bababa;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
}

input.toptwo:focus,
textarea.toptwo:focus {
    color: #303030;
    color: #fff;
    /*    background-color: #FFF;*/
    /*    background-color: rgba(87, 87, 87, 0.23);*/
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
}

textarea.toptwo {
    background-color: rgba(93, 93, 93, 0.23);
    height: 145px;
    line-height: 30px;
    width: 400px;
    font-family: Cousine;
    letter-spacing: 2px;
    font-size: 10pt;
    margin-top: 10px;
    resize: none;
    color: #bababa;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
}

input.toptwobutton {
    display: block;
    background-color: rgba(209, 100, 100, 0.92);
    background-color: rgba(209, 100, 100, 0.71);
    height: 45px;
    line-height: 30px;
    width: 400px;
    font-family: Cousine;
    font-size: 10pt;
    margin-top: 10px;
    box-shadow: none;
    border-radius: 3px;
    border: 1pxx solid red !important;
    outline: none !important;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
}

input.toptwobutton:hover {
    background-color: rgb(209, 100, 100);
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
}

input.toptwobutton:active {
    background-color: rgba(209, 100, 100, 0.78);
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
}

p.oneft {
    color: rgba(255, 255, 255, 0.67);
    font-size: 15pt;
    letter-spacing: 3px;
    font-weight: 100;
}

p.twift {
    color: rgba(255, 255, 255, 0.67);
    font-size: 11pt;
    letter-spacing: 3px;
    font-weight: 300 !important;
}


/*
table {
    width: 80%
}

td {
    width: 70%
}

td.form,
td.text {
    width: 50%
}

td.text {
    vertical-align: middle;
    text-shadow: 2px 1px #000;
    font-weight: 700
}
*/

table.movicit {
    width: 500px !important;
    border: 1px solid red;
}

img.profile {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

p.intropara {
    letter-spacing: 1px;
    color: #333;
    font-family: Cousine;
    display: inline-block;
    width: 500px;
    text-align: left;
}

td.paratd {
    vertical-align: text-top;
    border: 2px solid blue;
    padding: 0 auto;
    margin: 0 auto;
}

a.downabout {
    color: #FFF;
    background-color: rgba(255, 255, 255, 0.13);
    display: inline-block;
    padding: 10px 10px;
    border-radius: 100%;
    position: relative;
    top: 170px;
    border: 2px solid transparent;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
}

a.downabout:hover {
    border-color: #b4673e;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
}

.sketchbox {
    width: 100%;
    display: block;
    /*    border:2px solid red;*/
    margin-right: 10%;
    margin-right: 10%;
    position: relative;
    padding-bottom: 100px;
}


/*animatins*/


/* Hang */

@-webkit-keyframes hvr-hang {
    0% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }
    50% {
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
    }
    100% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }
}

@keyframes hvr-hang {
    0% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }
    50% {
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
    }
    100% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }
}

@-webkit-keyframes hvr-hang-sink {
    100% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }
}

@keyframes hvr-hang-sink {
    100% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }
}


/*
a.hvr-hang {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
*/

.hvr-hang,
.hvr-hang,
.hvr-hang {
    -webkit-animation-name: hvr-hang-sink, hvr-hang;
    animation-name: hvr-hang-sink, hvr-hang;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
    color: #FFF;
    background-color: rgba(255, 255, 255, 0.13);
    display: inline-block;
    padding: 10px 10px;
    border-radius: 100%;
    position: relative;
    top: 170px;
    border: 2px solid transparent;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
}

a.hvr-hang:hover {
    border-color: #b4673e;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-animation-name: hvr-hang-sink, hvr-hang;
    animation-name: hvr-hang-sink, hvr-hang;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 0;
    animation-iteration-count: 0;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
}

a.hvr-hang:active {
    border-color: #954215;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
}

@media only screen and (min-width: 320px) and (max-width: 680px) {
    .appshowcase {
        display: none;
    }
    a.ttc0,
    a.ttc1,
    a.ttc2 {
        display: block;
        margin-top: 10px;
        width: 90%;
        margin-left: 5%;
    }
    .rtop {
        display: block;
        width: 100%;
        top: 100px;
    }
    p.intropara {
        width: 90%;
        margin-left: 5%;
    }
    a.totalport {
        display: ;
        top: -10px;
    }
    .site-content .cf {
        display: none;
    }
    input.toptwo,
    textarea.toptwo,
    input.toptwobutton {
        width: 90%;
    }
}

@media only screen and (min-width:768px) and (max-width:1024px) {
    .rtop {
        position: relative;
    }
    .topint {
        height: 600px;
        background:url(img/345345.gif);
        background-repeat: no-repeat;
        background-size: 100% 600px;
    }
    div.footer {
        height: 800px;
        background: linear-gradient(rgba(51, 51, 51, 0.71), rgba(51, 51, 51, 0.71)), url(img/345345.gif);
        background-size: 100% 800px;
        border-radius: 0;
        margin-top: -40px;
        z-index: 999999;
        font-weight: 100;
        padding-top: 250px;
        background-repeat: no-repeat;
    }
}