.aboutjon h1,
.aboutjon h2,
.aboutjon h3,
h3.last,
h3.sec {
    text-transform: uppercase
}

.rtop,
.rtop h3,
div.howitworks,
td.text {
    text-align: center
}

body,
html {
    font-family: Roboto, sans-serif
}

img.bikeimg {
    width: 50%;
    margin-left: 42%;
    margin-top: 20%
}

.rtop,
img.fire {
    width: 100%
}

.hoye {
    background-color: #eaeaea;
    height: auto;
    z-index: 9999999!important
}

div.locationtop {
    color: #fff;
    position: relative;
    z-index: 9999;
    float: right;
    right: 22px;
    margin-top: -55px;
    padding-bottom: 2px;
    border-bottom: 2px solid rgba(255, 255, 255, .56)
}

a.about,
a.portfolio {
    padding: 10px 35px;
    display: inline-block;
    top: 15px;
    cursor: pointer;
    position: relative
}

.rtop {
    background-color: rgba(255, 255, 255, 0);
    position: relative;
    height: auto;
    z-index: 9;
    left: 50%;
    margin-left: -50%;
    margin-top: 10px
}

.rtop h3 {
    font-size: 34pt;
    font-weight: 100;
    letter-spacing: 2px;
    margin-top: 220px
}

.rtop h5 {
    font-size: 16pt;
    font-weight: 100;
    letter-spacing: 1px;
    margin-top: 5px
}

a.about,
a.portfolio,
div.howitworks {
    letter-spacing: 2px
}

a.portfolio {
    border: 1px solid #1c8bfa;
    color: #FFF;
    background-color: #057ef7;
    border-radius: 25px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease
}

a.portfolio:hover {
    background-color: #1e8eff;
    border-color: #fff;
    transition: all .3s ease;
    -webkit-transition: all .3s ease
}

a.portfolio:active {
    background-color: #1173d6;
    border-color: #fff;
    transition: all .3s ease;
    -webkit-transition: all .3s ease
}

a.about {
    border: 1px solid #30d9c6;
    background-color: #30d9c6;
    color: #fff;
    border-radius: 25px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease
}

a.about:hover {
    background-color: #50d9ca;
    border-color: #fff;
    transition: all .3s ease;
    -webkit-transition: all .3s ease
}

a.about:active {
    background-color: #3fb9ab;
    transition: all .3s ease;
    -webkit-transition: all .3s ease
}

.aboutjon {
    width: 490px;
    height: auto
}

.aboutjon h1 {
    color: #30d9c6;
    font-size: 120pt
}

.aboutjon h2 {
    font-size: 50pt;
    color: #057ef7
}

.aboutjon h3 {
    color: #ff406d;
    font-size: 23pt
}

h3.sec {
    color: #da40ff;
    font-size: 16pt
}

h3.last {
    color: #40a7ff;
    font-size: 25pt
}

.spacebox {
    height: 100px
}

.bsftc {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch
}

.menu {
    width: 100%;
    height: 45px;
    border-bottom: 1px solid #333;
    background: url(img/logos/dyane.regular-no-n.png) center center no-repeat, center center no-repeat #fff;
    background-size: 185px
}

.fixbox,
a.totalport {
    background-color: transparent
}

.fixbox {
    height: 0;
    width: 100%;
    z-index: 999
}

a.totalport {
    padding: 10px 45px;
    color: #b5b5b5;
    border: 2px solid #b5b5b5;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    top: 40px;
    position: relative
}

a.totalport:hover {
    border-color: #3eb489;
    color: #3eb490;
    transition: all .3s ease;
    -webkit-transition: all .3s ease
}

a.totalport:active {
    top: 50px
}

div.howitworks {
    background: url(img/works2.jpeg) fixed;
    background-size: 100% 100%;
    height: auto;
    width: 100%;
    color: #fff;
    font-size: 20pt;
    padding-top: 205px;
    padding-bottom: 305px;
    display: block;
    letter-spacing: 4px;
    font-weight: 700
}

a.startit {
    color: #fff;
    background-color: #3eb489;
    border-color: #3eb489;
    padding: 14px 35px;
    border-radius: 35px;
    margin-top: 20px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    font-weight: 300;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease
}

a.startit:hover {
    background-color: #199064;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease
}

a.startit:active {
    position: relative;
    top: 8px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease
}

div.footer {
    height: 800px;
    background:linear-gradient(rgba(51, 51, 51, 0.71), rgba(51, 51, 51, 0.71)),  url(img/acbg.gif) fixed;
    background-size: 100% 100%;
    border-radius: 0;
    margin-top: -40px;
    z-index: 999999;
    font-weight:100;
    padding-top: 100px
}

.messg{
    font-weight:500;
    letter-spacing: 2px;
    font-size:20pt;
}

input.contact,
textarea.contact {
    background-color: transparent;
    font-weight: 100;
    margin-top: 10px;
    letter-spacing: 2px;
    text-transform: lowercase;
    display: block;
    color: #333;
    outline: 0;
    font-size: 11pt;
    width: 80%
}

input.contact {
    border: 2px solid #eaeaea;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease
}

input.contact:focus {
    color: #333;
    border-color: #333;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease
}

textarea.contact {
    border: 2px solid #eaeaea;
    resize: none;
    height: 200px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease
}

textarea.contact:focus {
    color: #333;
    border-color: #333;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease
}

.appshowcase {
    background: #FFF;
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    margin-top: 55px;
    color: #333
}

input.contactbutton {
    margin-top: 20px;
    width: 80%;
    outline: 0;
    border: 2px solid #eaeaea;
    box-shadow: none;
    color: #bababa;
    letter-spacing: 6px;
    font-size: 11pt;
    position: relative;
    height: 50px;
    line-height: 40px;
    margin-left: 1px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease
}

input.contactbutton:hover {
    color: #FFF;
    background-color: #333;
    border-color: #333;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease
}

input.contactbutton:active {
    top: 10px;
    position: relative
}

table {
    width: 80%
}

td {
    width: 70%
}

td.form,
td.text {
    width: 50%
}

td.text {
    vertical-align: middle;
    text-shadow: 2px 1px #000;
    font-weight: 700
}

.ctbox {
    background-color: rgba(255, 255, 255, 0.96);
    border-radius: 5px;
    height: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    width: 90%: color: #333
}

.ctbox h2 {
    font-size: 16pt;
    letter-spacing: 3px;
    font-weight: 200;
    color: #333
}

.device-preview {
    margin: 20px auto auto;
    background: url(zxpc-pho/sprite.png) no-repeat;
    background-size: 100%
}

div.preview-ios .device-preview {
    width: 467px;
    height: 800px
}

h1,
h2,
h3,
h4,
h5 {
    color: #fff
}

input-placeholder {
    color: #bababa!important
}

::-webkit-input-placeholder {
    color: #bababa!important
}

:-ms-input-placeholder {
    color: #bababa!important
}

::-moz-placeholder {
    color: #bababa!important;
    opacity: 1
}

.rtop {
    z-index: 999999;
    position: relative;
}

a.menutoplink {
    color: red;
    line-height: 45px;
    padding: 10px 75px;
    text-decoration: none;
    z-index: 999999;
}