.device-preview {
    margin: 20px auto auto;
    background: url(/assets/images/sprite.png) no-repeat;
    background-size: 100%
}

div.preview-ios .device-preview {
    width: 467px;
    height: 800px
}

a.camp:hover img {
    /*border:2px solid red !important;*/
}

.mbr-gallery-item:hover {}

.mbr-gallery-item img {
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.mbr-gallery-item img:hover {
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    background: none !important;
}

a.navbar-caption,
.nav-item a {
    /*    color:white !important;*/
}

.mainbutton {}

.btn-primary:hover {
    background: #f89b9b !important;
    border-color: #f89b9b !important;
}

.btn-primary:active {
    background: #e56a6a !important;
    border-color: #e56a6a !important;
}

.btn-white {
    background: transparent !important;
    color: white !important;
    border: 1px solid white !important;
}

.btn-white:hover {
    color: black !important;
    background: rgb(255, 255, 255) !important;
}

.btn-white:active {
    background: #d6d6d6 !important;
    border-color: #d6d6d6 !important;
}

span.portoe {
    font-weight: 100;
    font-size: 24pt !important;
    opacity: 0.46;
    top: -45px;
    position: relative;
}

p.maketag {
    background-color: rgba(255, 255, 255, 0.55);
    color: black !important;
    padding: 2px 7px;
    font-size: 7pt !important;
    display: inline-block;
    font-weight: bold !important;
    margin-left: 2px;
    margin-right: 2px;
    text-transform: uppercase;
    position: relative;
    top: -25px !important;
    margin-bottom: -145px !important;
}

@media (max-width: 673px) {
    span.portoe {
        top: -20px;
    }
    
    .mbr-section .col-md-7 .preview-ios {
/*        background:red !important;*/
        margin-left:-55px !important;
    }
}