html,
body {
    margin: 0 auto;
}

body {
    background: url(/images/thanksbg.gif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100vh !important;
    color: white;
    overflow-x: hidden;
    position: relative;
    font-family: 'Roboto', sans-serif;
}

.pageinfo {
    color: white;
    padding-top: 30vh;
}

.gobackbutton {
    padding: 10px 30px;
    color: #ed23b7;
    border-radius: 5px;
    background: #FFFFFF;
    position: relative;
    top: 5px;
    text-decoration: none;
    transition: all .3s ease;
}

.gobackbutton:hover {
    text-decoration: none;
    border-radius: 25px;
    transition: all .3s ease;
}

.linktext {
     background: -webkit-linear-gradient(45deg, #ff406d, #ed8915);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}