/*
      a,
        a:hover,
        a:active {
            font-size: 10pt;
            color: #3eb489 !important;
        }
        
        body {
            font-size: 10pt;
        }
*/

body {
    padding-bottom: 85px;
    font-size: 10pt;
    background: #fafafa;
}

a,
a:hover,
a:active {
    text-decoration: none !important;
}

.schoolitup {
    /*    background: linear-gradient(rgba(5, 5, 5, 0.65), rgba(5, 5, 5, 0.65)), url(http://www.jonathanbelok.com/assets/images/schoolitupclear-2000x1327-82.png);*/
    background: #12AEDC;
    height: 100%;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    background-size: 100% 100%;
    text-align: center;
    color: white;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: /*    border: 2px solid white;*/
    transition: all .25s ease;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
}

.schoolitup:hover {
    background: rgba(18, 174, 220, 0.75);
    /*    border: 2px solid #3eb489;*/
    background-size: 100% 100%;
    text-decoration: none;
    transition: all .25s ease;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
}

.schoolitup:active {
    background: #0096c3;
    /*    border: 2px solid #3eb489;*/
    background-size: 100% 100%;
    text-decoration: none;
    transition: all .25s ease;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
}

.schoolitup:hover a {
    text-decoration: none;
}

.cjpp {
    background: #eaeaea;
    color: #333;
}

.cjpp:hover {
    background: #d4d4d4;
}

.cjpp:active {
    background: #b1b0b0;
}

.crumyum {
    /*    background: linear-gradient(rgba(5, 5, 5, 0.255), rgba(5, 5, 5, 0.255)), url(http://www.crumyumapp.com/images/large/4_overlay.jpg) no-repeat;*/
    background: #CA6389;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    color: white;
    margin-top: 10px;
    transition: all .25s ease;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
}

.crumyum:hover {
    background: rgba(202, 99, 137, 0.85);
    background-size: 100% 100%;
    text-decoration: none;
    transition: all .25s ease;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
}

.crumyum:active {
    background: #b13b66;
    background-size: 100% 100%;
    text-decoration: none;
    transition: all .25s ease;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
}

.crumyum:hover a {
    text-decoration: none;
}

.jamfx {
    /*    background: linear-gradient(rgba(5, 5, 5, 0.65), rgba(5, 5, 5, 0.65)), url(http://www.jonathanbelok.com/assets/images/schoolitupclear-2000x1327-82.png);*/
    background: #7c58a5;
    height: 100%;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    background-size: 100% 100%;
    text-align: center;
    color: white;
    margin-top: 10px;
    /*    border: 2px solid white;*/
    transition: all .25s ease;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
}

.jamfx:hover {
    background: rgba(124, 88, 165, 0.85);
    /*    border: 2px solid #3eb489;*/
    text-decoration: none;
    transition: all .25s ease;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
}

.jamfx:active {
    background: #643b93;
    /*    border: 2px solid #3eb489;*/
    background-size: 100% 100%;
    text-decoration: none;
    transition: all .25s ease;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
}

.timeline {
    /*    background: linear-gradient(rgba(5, 5, 5, 0.65), rgba(5, 5, 5, 0.65)), url(http://www.jonathanbelok.com/assets/images/schoolitupclear-2000x1327-82.png);*/
    background: #1fbe99;
    height: 100%;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    background-size: 100% 100%;
    text-align: center;
    color: white;
    margin-top: 10px;
    /*    border: 2px solid white;*/
    transition: all .25s ease;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
}

.timeline:hover {
    background: rgba(31, 190, 153, 0.83);
    /*    border: 2px solid #3eb489;*/
    text-decoration: none;
    transition: all .25s ease;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
}

.timeline:active {
    background: #0ba581;
    /*    border: 2px solid #3eb489;*/
    background-size: 100% 100%;
    text-decoration: none;
    transition: all .25s ease;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
}