.goto a {
    color: #2a2a2a;
    border-bottom: 2px solid transparent;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    margin-left: 5px;
    margin-right: 5px;
}

.goto a:hover {
    border-bottom: 2px solid #02bf86;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    cursor: pointer;
    text-decoration: none;
}

.goto a:hover:nth-child(2) {
    border-color: #f0ff40;
}

.goto a:hover:nth-child(3) {
    border-color: #ff406d;
}

.goto a:hover:nth-child(4) {
    border-color: #40b6ff;
}

.textinfo {
    display: block;
    margin-top: -20px;
    margin-bottom: 50px;
    color: #ffffff;
    letter-spacing: 3px;
    text-align: left;
    text-transform: uppercase;
    font-size: 9pt;
    font-weight: bold;
    padding: 35px;
    background: rgb(41, 41, 41);
    border: 5px solid transparent;
    border-left-color: #02bf86;
    border-top-color: #f0ff40;
    border-right-color: #ff406d;
    border-bottom-color: #40b6ff;
    border-left-width:6px;
    border-right-width:6px;
    border-bottom-width:6px;
}

.textinfo2 {
        display: block;
    margin-top: -20px;
    margin-bottom: 50px;
    color: #1c1c1c;
    letter-spacing: 3px;
    text-align: left;
    text-transform: uppercase;
    font-size: 9pt;
    font-weight: bold;
}