.goto a {
    color: #2a2a2a;
    /*    border-bottom: 2px solid transparent;*/
    margin-left: 5px;
    margin-right: 5px;
    border: 2px solid rgba(255, 255, 255, 0);
    padding: 10px 15px;
    position: relative;
    top: 0;
    background-color: #02bf86;
    color: #333;
    font-weight: bold;
    border-radius: 6px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.goto a:hover {
    /*    border-bottom: 2px solid #02bf86;*/
    border-color: #02bf86;
    background-color: #02bf86;
    color: #333;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    cursor: pointer;
    text-decoration: none;
}

.goto a:active {
    background-color: #f0ff40;
    position: relative;
    top: 12px;
    text-decoration: none !important;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.goto a:nth-child(2) {
    border-color: #f0ff40;
    background-color: #f0ff40;
}

.goto a:nth-child(3) {
    border-color: #ff406d;
    background-color: #ff406d;
}

.goto a:nth-child(4) {
    border-color: #40b6ff;
    background-color: #40b6ff;
}

.goto a:hover:nth-child(1) {
    border-color: #00d688;
    background-color: #00d688;
}

.goto a:hover:nth-child(2) {
    border-color: #f6ff8a;
    background-color: #f6ff8a;
}

.goto a:hover:nth-child(3) {
    border-color: #ff7898;
    background-color: #ff7898;
}

.goto a:hover:nth-child(4) {
    border-color: #6fc8ff;
    background-color: #6fc8ff;
}

.goto a:active:nth-child(1) {
    border-color: #3eb389;
    background-color: #3eb489;
    position: relative;
    top: 12px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.textinfo {
    display: block;
    margin-top: -20px;
    margin-bottom: 50px;
    color: #ffffff;
    letter-spacing: 3px;
    text-align: left;
    text-transform: uppercase;
    font-size: 9pt;
    font-weight: bold;
    padding: 35px;
    background: rgb(41, 41, 41);
    border: 5px solid transparent;
    border-left-color: #02bf86;
    border-top-color: #f0ff40;
    border-right-color: #ff406d;
    border-bottom-color: #40b6ff;
    border-left-width: 6px;
    border-right-width: 6px;
    border-bottom-width: 6px;
}

.textinfo2 {
    display: block;
    margin-top: -20px;
    margin-bottom: 50px;
    color: #1c1c1c;
    color: #FFFFFF;
    letter-spacing: 3px;
    text-align: left;
    text-transform: uppercase;
    font-size: 9pt;
    font-weight: bold;
}

.cardpl {
    height: 300px;
    background: white;
    border: 2px solid #eaeaea;
    min-height: 300px;
    height: auto;
}

.cardpl p {
    position: relative;
    text-align: center;
    top: 10px;
    font-size: 9.5pt;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    color: #383434;
}

.cardanimate img {
    height:500px !important;
    transform: scale(1.1) !important;
}

.cardanimatetour img {
    height:500px !important;
    transform: scale(1.01) !important;
}

.cardanimate img:hover, .cardanimatetour img:hover {
    height:500px !important;
    transform: scale(1.15) !important;
}

p.card {
    border-top: 2px solid #f5f5f5;
    margin-left: 20px;
    margin-right: 20px;
}

p.second {
    text-align: left;
    color: #767676;
    margin-left: 20px;
    margin-right: 20px;
    text-transform: none;
    letter-spacing: 1px;
    padding-bottom: 15px;
}


/* watch */

.cardpl img {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.viewonbehance {
    display: inline;
    padding: 10px 15px;
    border-radius: 3px;
    text-align: center;
    position: relative;
    top: -165px;
    color: #565b91;
    background: rgb(255, 255, 255);
    font-size: 9pt;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    visibility: hidden;
}

.cardpl:hover .viewonbehance {
    visibility: visible;
}

.viewonbehance:hover {
    cursor: pointer;
    color: #ffffff;
    background: #565b91;
    text-decoration: none;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    visibility: visible;
}

.cardpl img {
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
}


/*.cardpl:hover img{*/

.cardpl img:hover {
    transform: scale(1.05);
    opacity: 0.7;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.cardpl img:hover,
.cardpl img:focus,
.cardpl img:active {
    color: white;
    cursor: pointer;
}

.cardpl img:hover:before,
.cardpl img:focus:before,
.cardpl img:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}

.port-overlay {
    height: 290px;
    width: 100%;
    background: transparent;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.port-overlay:hover {
    background: rgba(0, 0, 0, 0.54);
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.view-details {
    border: 2px solid transparent;
    top: 125px;
    position: relative;
    color: transparent;
    padding: 10px 20px;
    letter-spacing: 2px;
    position: relative;
    text-decoration: none;
    font-weight: 100;
    margin: 0 auto;
}

.cardpl:hover .view-details {
    /*    border: 2px solid white;*/
    color: white;
    background: rgba(255, 255, 255, 0.24);
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    text-decoration: none;
    -webkit-transition-delay: 500ms;
    -moz-transition-delay: 500ms;
    -o-transition-delay: 500ms;
    transition-delay: 500ms;
}

.cardpl:hover .view-details:hover {
    background-color: rgba(255, 255, 255, 0.43);
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.cardpl:hover .view-details:active {
    position: relative;
    top: 145px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.hwrap {
    overflow: hidden;
}

a:hover,
a:active {
    text-decoration: none !important;
}

.schoolitupux {
    /*    background: linear-gradient(rgba(5, 5, 5, 0.65), rgba(5, 5, 5, 0.65)), url(http://www.jonathanbelok.com/assets/images/schoolitupclear-2000x1327-82.png);*/
    background: #12AEDC;
    height: 100%;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-size: 100% 100%;
    text-align: left;
    color: white;
    margin-top: 10px;
    border-bottom: /*    border: 2px solid white;*/
    transition: all .25s ease;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
}

.schoolitupux:hover {
    background: rgba(18, 174, 220, 0.75);
    /*    border: 2px solid #3eb489;*/
    background-size: 100% 100%;
    text-decoration: none;
    transition: all .25s ease;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
}

.schoolitupux:active {
    background: #0096c3;
    /*    border: 2px solid #3eb489;*/
    background-size: 100% 100%;
    text-decoration: none;
    transition: all .25s ease;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
}

.schoolitupux:hover a {
    text-decoration: none;
}

.crumyum {
    /*    background: linear-gradient(rgba(5, 5, 5, 0.255), rgba(5, 5, 5, 0.255)), url(http://www.crumyumapp.com/images/large/4_overlay.jpg) no-repeat;*/
    background: #CA6389;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 10px;
    text-align: left;
    transition: all .25s ease;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
}

.crumyum:hover {
    background: rgba(202, 99, 137, 0.85);
    background-size: 100% 100%;
    text-decoration: none;
    transition: all .25s ease;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
}

.crumyum:active {
    background: #b13b66;
    background-size: 100% 100%;
    text-decoration: none;
    transition: all .25s ease;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
}

.crumyum:hover a {
    text-decoration: none;
}

.jamfxux {
    /*    background: linear-gradient(rgba(5, 5, 5, 0.65), rgba(5, 5, 5, 0.65)), url(http://www.jonathanbelok.com/assets/images/schoolitupclear-2000x1327-82.png);*/
    background: #7c58a5;
    height: 100%;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-size: 100% 100%;
    text-align: left;
    color: white;
    margin-top: 10px;
    /*    border: 2px solid white;*/
    transition: all .25s ease;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
}

.jamfxux:hover {
    background: rgba(124, 88, 165, 0.85);
    /*    border: 2px solid #3eb489;*/
    text-decoration: none;
    transition: all .25s ease;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
}

.jamfxux:active {
    background: #643b93;
    /*    border: 2px solid #3eb489;*/
    background-size: 100% 100%;
    text-decoration: none;
    transition: all .25s ease;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
}

.timeline {
    /*    background: linear-gradient(rgba(5, 5, 5, 0.65), rgba(5, 5, 5, 0.65)), url(http://www.jonathanbelok.com/assets/images/schoolitupclear-2000x1327-82.png);*/
    background: #1fbe99;
}

.timeline:hover {
    background: rgba(31, 190, 153, 0.83);
}

.timeline:active {
    background: #0ba581;
}

.cjpp {
    background: #eaeaea;
    color: #333;
}

.cjpp:hover {
    background: #d4d4d4;
}

.cjpp:active {
    background: #b1b0b0;
}

.close {
    color:#333 !important;
    background:none;
    background:transparent !important;
    outline:none !important;
     transition: all.3s ease !important;
    -webkit-transition: all.3s ease !important;
    -moz-transition: all.3s ease !important;
    -o-transition: all.3s ease !important;
}

.close:hover {
    color:white !important;
    transition: all.3s ease !important;
    -webkit-transition: all.3s ease !important;
    -moz-transition: all.3s ease !important;
    -o-transition: all.3s ease !important;
}



@media only screen and (min-width: 320px) and (max-width: 480px) {
    .goto {
        margin: auto;
        width: 70%;
        padding: 10px;
        display: none;
    }
    .goto a {
        display: block;
        width: 100%;
        text-align: center;
        margin-top: 6px;
        border-radius: 0;
    }
}

@media only screen and (min-width: 480px) and (max-width: 1040px) {
    .goto {
        margin: auto;
        width: 70%;
        padding: 10px;
        display: none;
    }
    .goto a {
        display: block;
        width: 100%;
        text-align: center;
        margin-top: 6px;
        border-radius: 0;
    }
}