.goto a {
    color: #262626;
    border-bottom: 2px solid transparent;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    margin-left: 5px;
    margin-right: 5px;
}

.goto a:hover {
    border-bottom: 2px solid #02bf86;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    cursor: pointer;
    text-decoration: none;
}

.goto a:hover:nth-child(2){
    border-color:#f0ff40;
}


.goto a:hover:nth-child(3){
    border-color:#ff406d;
}

.goto a:hover:nth-child(4){
    border-color:#40b6ff;
}